@media(max-width: 1100px) {
  .mainContainer {
    max-width: 940px;
  }

  .area-atuação {
    margin-left: 1rem; 
  }

  .area-atuação span {
    font-size: 3rem;
  }

  .area-atuação span:nth-child(3) {
    padding-right: 13rem;
  }

  .foto-perfil {
    width: 260px;
    height: 320px;
  }

  .intro {
    gap: 2rem;
    margin-top: 2rem;
  }

  .deco-principal {
    max-width: 6rem;
    max-height: 6rem;
    top: 60px;
    left: -30 px;
  }

  .formacao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-bottom: 0;
  }

  .formacao .formacaoTitle {
    max-width: 100%;
    margin-top: 3rem;
  }

  .formacao .formacaoTitle h1 {
    display: inline;
    font-size: 5rem;
  }

  .formacaoDetalhes {
    margin-top: 0rem;
  }

  .formacaoCards {
    margin-top: 1rem;
    margin-right: 0rem;
  }

  .cursos {
    margin-right: 0rem;
  }

  .formacaoContainer > span img {
    max-width: 100px;
    max-height: 100px;
    bottom: -50px;
  }

  .experienciaContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .experienciaContainer {
    margin-top: 0rem;
    gap: 1rem;
  }
  .experiencicaTitle {
    margin-top: 2rem; 
  }

  .experiencicaTitle h1 {
    display: inline;
    font-size: 5rem;
  }

  .experienciaTecs {
    max-width: 602px;
  }

  .footerContainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
  }

  .footerMessage {
    max-width: 600px;
    position: relative;
  }

  .footerMessage p:nth-child(2) {
    position: absolute;
    bottom: -20rem;
  }
}

@media(max-width: 810px) {
  .area-atuação span:nth-child(3) {
    padding-right: 2rem;
    text-align: left;
  }
}

@media(max-width: 767px) {
  
  .mainContainer header nav ul li {
    margin: 1rem;
  }

  .mainContainer header nav ul li a {
    padding: 1rem;
  }
  
  .intro {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .formacao .formacaoTitle h1 {
    font-size: 3rem;
  }
  
  .mainContainer header {
    flex-direction: column;
    padding-top: 2rem;
    gap: 1rem;
  }

  .formacaoContainer > span img {
    width: 70px;
    height: 70px;
    bottom: -30px;
  }

  .formacaoCards {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .formacaoCards div {
    width: 100%;
  }

  .formacaoCursos, .cursosIdiomas {
    margin-left: 2rem;
  }

  .formacaoCursos .cursos p, span {
    font-size: 0.875rem;
  }

  .formacaoCursos li > span {
    margin-left: 1rem;
  }

  .experiencicaTitle {
    margin-top: 3rem;
  }

  .experiencicaTitle h1 {
    font-size: 3rem;
  }

  .experienciaDetalhes {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .projectLanguages span {
    margin-left: 0rem;
  }

  .projectLanguages div {
    justify-content: flex-start;
  }

  .projectLanguages div p + p {
    margin-left: 0;
  }

  .projectLanguages div p:first-child {
    margin-left: 0rem;
  }

  .footerContainer {
    padding: 3rem;
    padding-bottom: 5rem;
    padding-top: 2rem;
    gap: 1rem;
  }

  .footerMessage p {
    padding-top: 0rem;
  }
  
  .footerContact {
    align-self: start;
  }

  .footerContact ul li a {
    font-size: 1rem;

  }

  .footerMessage p:nth-child(2) {
    bottom: -18rem;
  }
}
