header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

header a {
  position: relative;
}

#home::after {
  content: '';
  position: absolute;
  bottom: 12px;
  right: -5px;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: var(--gr2);
}

header ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li {
  margin: 2.5rem 1rem;
  cursor: pointer;
}

header ul li a {
  padding: 1rem 1.5rem;
  border-radius: 4px;
}

header ul li a:hover {
  background-color: var(--c1);
  transition: 0.2s linear;
}
